@using Common.DTO
@model IEnumerable<ProductListDTO>

<h1>Products (Admin)</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Platform</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Category</td>
                <td>@p.Platform</td>
                <td>@p.Price</td>
                <td>@p.StockAmount</td>
            </tr>
        }
    </tbody>
</table>
