@using Common.DTO
@using Common.Enum
@model HelperProductListDTO


<h1>Products</h1>



<form asp-controller="Product" asp-action="Filter" method="post" class="d-inline-flex gap-2">

    <label asp-for="Category" class="form-label"></label>
    <select asp-for="Category" name="category" id="cat-type" class="form-select"
            asp-items="Html.GetEnumSelectList<CategoryEnum>()" onchange="@Model.Category = ">
    </select>
    <label asp-for = "Platform" class="form-label"></label>
    <select asp-for="Platform" name="platform" class="form-select"
            asp-items="Html.GetEnumSelectList<PlatformEnum>()">
    </select>


    <button type="submit" class="btn ">Update</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Platform</th>
            <th>Price</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.enumProductListDTO)
        {
			if ((p.Platform != Model.Platform) ||
			( p.Category != Model.Category))
			{
				continue;
			}
            <tr>
                <td>@p.Name </td>
                <td>@p.Category </td>
                <td>@p.Platform</td>
                <td>@p.Price</td>
                <td>@p.StockAmount</td>
                <td class="text-end">
                    <form asp-controller="Cart" asp-action="Add" method="post" class="d-inline-flex gap-2">
                        <input type="hidden" name="productPublicId" value="@p.PublicId" />
                        <input name="amount" type="number" min="1" value="1" style="width:90px;" />
                        <button type="submit" class="btn ">Add</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Cart" asp-action="Index" class="btn">Go to cart</a>

